:root {
    --mainColor: #10cab7;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 64.5%;
}

body {
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.header {
    padding: 2rem;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header .links {
    position: relative;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
}

.header .logo {
    width: 3.5rem;
}

.header .links .icon span {
    background: #333;
    margin-bottom: .5rem;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: .3s;
}

.header .links .icon:hover span:nth-child(2) {
    width: 100%;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 20px);
    background: #e0e0e0;
    display: none;
    z-index: 1;
}

.header .links:hover ul {
    display: block;
}

.header .links ul::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #e0e0e0 transparent;
    right: 5px;
    top: -20px;
}

.header .links ul li a {
    display: block;
    color: #333;
    padding: 1.5rem;
    font-size: 1.6rem;
    transition: .3s;
}

.header .links ul li a:hover {
    padding-left: 2.5rem;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ccc;
}

.landing {
    background: url('../img/mountain.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 64px);
    position: relative;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.intro-text h1 {
    margin: 0;
    padding: 0;
    color: var(--mainColor);
    font-size: 5rem;
}

.intro-text p {
    font-size: 1.9rem;
    line-height: 1.8;
}

.features .container {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: auto;
    text-align: center;
}

.features .feature {
    padding: 2rem;
}

.features .feature svg {
    font-size: 3rem;
    color: var(--mainColor);
}

.features .feature h3 {
    font-weight: 800;
    margin: 3rem 0;
    font-size: 1.6rem;
}

.features .feature p {
    font-size: 1.6rem;
    color: #333;
    line-height: 1.6;
}