:root {
    --mainColor: #10cab7;
    --headColor: #ebeced;
    --secondColor: #2c4755;
    --sectionPadding: 10rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 64.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.header {
    padding: 2rem;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header .links {
    position: relative;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
}

.header .logo {
    width: 3.5rem;
}

.header .links .icon span {
    background: #333;
    margin-bottom: .5rem;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: .3s;
}

.header .links .icon:hover span:nth-child(2) {
    width: 100%;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 20px);
    background: #e0e0e0;
    display: none;
    z-index: 1;
}

.header .links:hover ul {
    display: block;
}

.header .links ul::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #e0e0e0 transparent;
    right: 5px;
    top: -20px;
}

.header .links ul li a {
    display: block;
    color: #333;
    padding: 1.5rem;
    font-size: 1.6rem;
    transition: .3s;
}

.header .links ul li a:hover {
    padding-left: 2.5rem;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ccc;
}

.landing {
    background: url('../img/mountain.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 64px);
    position: relative;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.intro-text h1 {
    margin: 0;
    padding: 0;
    color: var(--mainColor);
    font-size: 5rem;
}

.intro-text p {
    font-size: 1.9rem;
    line-height: 1.8;
}

.features .container {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin: auto;
    text-align: center;
}

.features .feature {
    padding: 2rem;
}

.features .feature svg {
    font-size: 3rem;
    color: var(--mainColor);
}

.features .feature h3 {
    font-weight: 800;
    margin: 3rem 0;
    font-size: 1.6rem;
}

.features .feature p {
    font-size: 1.6rem;
    color: #333;
    line-height: 1.6;
}

.services .container {
    margin: auto;
}

.special-heading {
    margin: 0;
    text-align: center;
    color: var(--headColor);
    font-size: 10rem;
    letter-spacing: 3px;
}

.special-heading+p {
    text-align: center;
    margin-top: -40px;
    font-size: 2rem;
    color: #797979;
}

@media (max-width:767px) {
    .special-heading {
        font-size: 6rem;
    }
    .special-heading+p {
        font-size: 1.4rem;
        margin-top: -25px;
    }
}

.services {
    padding: var(--sectionPadding) 0;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 10rem;
}

.services .services-content .service {
    display: flex;
    margin-bottom: 4rem;
}

@media (max-width:767px) {
    .services .services-content .service {
        flex-direction: column;
        text-align: center;
    }
}

.services .service svg {
    color: var(--mainColor);
    flex-basis: 6rem;
    font-size: 3rem;
}

.services .service .service-text {
    flex: 1;
}

.services .service .service-text h3 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 800;
    margin: 0 0 20px;
}

.services .service .service-text p {
    color: #333;
    line-height: 1.6;
    font-size: 1.2rem;
    font-weight: 300;
}

.services .image {
    position: relative;
    text-align: center;
}

.services .image::before {
    content: "";
    position: absolute;
    background-color: var(--secondColor);
    width: 80px;
    top: -50px;
    right: 0;
    height: calc(100% + 100px);
    z-index: -1;
}

.services .image .myimage {
    width: 260px;
}

@media(max-width:1199px) {
    .media-image {
        display: none;
    }
}

.portfolio {
    padding: var(--sectionPadding) 0;
    background: #ddd;
}

.portfolio .container {
    margin: auto;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 8rem;
}

.portfolio-content .card {
    background: #fff;
}

.portfolio-content .card img {
    max-width: 100%;
}

.portfolio-content .card .info {
    padding: 2rem;
}

.portfolio-content .card .info h3 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 500;
}

.portfolio-content .card .info p {
    margin-top: .3rem;
    line-height: 1.6;
    color: #333;
}

@media (max-width:767px) {
    .portfolio-content .card .info {
        text-align: center;
    }
}

.about {
    padding: var(--sectionPadding) 0;
}

.about .container {
    margin: auto;
}

.about .about-content {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width:991px) {
    .about .about-content .image {
        margin: 0 auto 8rem;
    }
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    background: var(--headColor);
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 300px;
    top: -40px;
    right: -100px;
    border-left: 80px solid var(--mainColor);
    border-bottom: 80px solid var(--mainColor);
    z-index: -1;
}

@media (max-width:991px) {
    .about .about-content .image::after,
    .about .about-content .image::before {
        display: none;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p {
    font-size: 1.8rem;
    line-height: 1.6;
}

.about .about-content .text p:first-of-type {
    font-weight: 600;
    margin-bottom: 5rem;
}

.about .about-content hr {
    border-color: var(--mainColor);
    width: 50%;
    display: inline-block;
}

.about .about-content .text p:last-of-type {
    margin-top: 5rem;
    color: #ddd;
    font-weight: 600;
}

.contact {
    padding: var(--sectionPadding) 0;
}

.contact .container {
    margin: auto;
}

.contact .info {
    text-align: left;
    padding: 10rem 0;
}

.contact .info .label {
    font-size: 4rem;
    color: var(--mainColor);
    font-weight: 800;
    margin-bottom: 1rem;
}

.contact .info .link {
    color: var(--secondColor);
    font-size: 2rem;
    font-weight: 800;
}

@media (max-width:767px) {
    .contact .info {
        text-align: center;
    }
    .contact .info .link,
    .contact .info .label {
        font-size: 2rem;
    }
    .contact .social {
        flex-direction: column;
    }
    .contact .social .icons {
        margin-top: 1rem;
    }
}

.contact .social {
    display: flex;
    margin-top: 2rem;
}

.contact .social p,
.contact .social svg {
    font-size: 2rem;
}

.contact .social svg {
    margin-left: 1rem;
    color: var(--mainColor);
    cursor: pointer;
}

.footer {
    padding: 2rem 0;
    background: var(--secondColor);
    text-align: center;
}

.footer p {
    font-size: 1.8rem;
    color: var(--headColor)
}

.footer p span {
    color: var(--mainColor)
}